{% extends "layouts/base.html" %}

{% block title %} Add Device {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Add New Device</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="javascript:">Add New Device</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <form method="post" id="device-form">
                                {% csrf_token %}


                                <div class="card">

                                    <div class="card-header">
                                        <h5>Basic Attributes</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-xl-6">
                                                <div class="form-group">
                                                    {{ form.name.label_tag }}
                                                    {{ form.name }}
                                                </div>

                                                <div class="form-group">
                                                    {{ form.color.label_tag }}
                                                    {{ form.color }}
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-xl-6">
                                                <div class="form-group">
                                                    {{ form.description.label_tag }}
                                                    {{ form.description }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Location</h5>
                                    </div>
                                    <div class="card-body">
                                        <label for="use_coordinates">Use Coordinates:</label>
                                        <input type="checkbox" id="use_coordinates"
                                               name="use_coordinates">
                                        <br>
                                        <br>
                                        <div id="address_field" class="form-group">
                                            <label for="geocoder">Address:</label>

                                            <div id="geocoder"></div>
                                            <br>
                                            <div id="map" style="height: 400px;"></div>
                                        </div>

                                        <div id="coordinates_field" class="form-group"
                                             style="display:none;">
                                            <div class="row">
                                                <div class="col-lg-12 col-xl-6">
                                                    {{ form.latitude.label_tag }}
                                                    {{ form.latitude }}
                                                </div>
                                                <div class="col-lg-12 col-xl-6">
                                                    {{ form.longitude.label_tag }}
                                                    {{ form.longitude }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Network</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            {{ form.ip_address.label_tag }}
                                            {{ form.ip_address }}
                                        </div>
                                        <button type="submit" name="add-device" class="btn btn-primary">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css' rel='stylesheet'/>
    <link href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css'
          rel='stylesheet'/>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'></script>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiYWxlc2t1Y2VyYSIsImEiOiJjbGc5OG0wd3MxNWI2M3NvOTIyMDJwdGV4In0.pLzkwEwCdgexkT_ai7yP8Q';

        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/aleskucera/clg9at7fl001d01pe1mwrkvgl',
            center: [15.251112431996722, 49.78450556341959], // Center of Czech Republic
            zoom: 6
        });

        var geocoder = new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            mapboxgl: mapboxgl,
            marker: false,
            language: 'cs',
            placeholder: 'Enter your address'
        });

        // Add geocoder to the address field
        document.getElementById('geocoder').appendChild(geocoder.onAdd(map));
        document.querySelector('.mapboxgl-ctrl-geocoder input').classList.add('form-control');

        // Listen for result event on geocoder
        geocoder.on('result', function (event) {
            // Get selected address
            var selectedAddress = event.result.place_name;

            // Set selected address in input field
            document.getElementById('geocoder').value = selectedAddress;

            // Get latitude and longitude of selected address
            var lngLat = event.result.center;

            // Set latitude and longitude values in hidden input fields
            document.getElementById('latitude').value = lngLat[1];
            document.getElementById('longitude').value = lngLat[0];

            // Show coordinates field
            {#document.getElementById('coordinates_field').style.display = 'block';#}
        });

        // Hide coordinates field by default
        document.getElementById('coordinates_field').style.display = 'none';

        // Listen for checkbox change event
        document.getElementById('use_coordinates').addEventListener('change', function () {
            // If checkbox is checked, show coordinates field
            if (this.checked) {
                document.getElementById('address_field').style.display = 'none';
                document.getElementById('coordinates_field').style.display = 'block';
            } else { // Otherwise, hide coordinates field
                document.getElementById('coordinates_field').style.display = 'none';
                document.getElementById('address_field').style.display = 'block';
            }
        });

        document.addEventListener("DOMContentLoaded", function () {
            var form = document.querySelector("#device-form");
            form.addEventListener("keydown", function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });
    </script>
{% endblock javascripts %}