{% extends "layouts/base.html" %}

{% block title %} Device Properties {% endblock %}


{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Device Properties</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <h5>Properties</h5>
                                                    <hr>
                                                    <form method="post">
                                                        {% csrf_token %}
                                                        {{ form.as_p }}
                                                        <button type="submit" class="btn btn-primary">Save</button>
                                                    </form>
                                                </div>
                                                <div class="col-md-1"></div>
                                                <div class="col-md-6">
                                                    <h5>Location</h5>
                                                    <hr>
                                                    <div id="map" class="set-map"
                                                         style="width: 100%; height: 400px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css' rel='stylesheet'/>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiYWxlc2t1Y2VyYSIsImEiOiJjbGc5OG0wd3MxNWI2M3NvOTIyMDJwdGV4In0.pLzkwEwCdgexkT_ai7yP8Q';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/aleskucera/clg9at7fl001d01pe1mwrkvgl',
            center: [{{ device.longitude }}, {{ device.latitude }}],
            zoom: 9
        });
        var marker = new mapboxgl.Marker()
            .setLngLat([{{ device.longitude }}, {{ device.latitude }}])
            .setPopup(new mapboxgl.Popup().setHTML('<h3>{{ device.name }}</h3>'))
            .addTo(map);
    </script>

{% endblock javascripts %}